<div>

    <h1 style="font-size:13px">
        <label>@ViewBag.Name</label>
    </h1>

    <hr>

    <img src="microsoft.png" alt="" />

    <hr />

    <div>
        <p>
            @ViewBag.Content
        </p>
    </div>


</div>