@model Test.MessageModel
<div>

    <h1 style="font-size:13px">
        <label>@Model.Name</label>
    </h1>

    <hr>

    <div>
        <p>
            @Model.Content
        </p>
    </div>


</div>